{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hanu Digital Hub</title>
    <!-- AOS ANIMATION CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"> 
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

</head>

<body>

<!-- NAVBAR -->
<nav class="navbar">

    <div class="logo">
        <a href="{% url 'home' %}" class="logo-link">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
            Hanu Digital Hub
        </a>

    </div>

    <div class="menu-toggle" onclick="toggleMenu()">☰</div>

    <ul class="nav-links" id="navLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>

</nav>

{% block content %}
{% endblock %}
<!-- FOOTER -->

<footer class="footer">

    <div class="footer-container">

        <!-- BRAND -->
        <div class="footer-box">
            <h2>Hanu Digital Hub</h2>
            <p>Build. Design. Grow.</p>
        </div>

        <!-- LINKS -->
        <div class="footer-box">
            <h3>Quick Links</h3>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'services' %}">Services</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <!-- SERVICES -->
        <div class="footer-box">
            <h3>Services</h3>
            <p>Web Development</p>
            <p>UI/UX Design</p>
            <p>SEO Optimization</p>
        </div>

        <!-- CONTACT -->
        <div class="footer-box">
    <h3>Contact</h3>

    <p><a href="https://mail.google.com/mail/?view=cm&fs=1&to=hanudigitalhub@gmail.com&su=Website Inquiry&body=Hello Hanu Digital Hub,"
   target="_blank"
   class="email-btn">
        <i class="fa-solid fa-envelope"></i>
        hanudigitalhub@gmail.com </a>
    </p>

    <div class="social-links">

        <p><a href="https://www.instagram.com/hanu_digitalhub?igsh=NjNjbTI5MTNrYnc5"
           target="_blank">

            <i class="fa-brands fa-instagram"></i>
             hanu_digitalhub
        </a></p>

    </div>

</div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Hanu Digital Hub. All Rights Reserved.</p>
    </div>

</footer>
<!-- AOS JS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init({
    duration: 900,
    once: true
  });
</script>
<script>

function toggleMenu() {
    document.getElementById("navLinks").classList.toggle("active");
}

</script>

</body>
</html>